<div class="container mt-5">
  <div class="card mx-auto" style="max-width: 700px;">
    <div class="card-header">
      <h3>Assign Roles to <%= (@user.username).capitalize %></h3>
    </div>
    <%= form_with(model: @user, url: update_roles_user_path(@user), method: :patch) do |f| %>
      <div class="card-body">
        <div class="form-check mb-3">
          <% @roles.each do |role| %>
            <label class="form-check-label d-block">
              <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role), class: "form-check-input" %>
              <%= role.name.capitalize %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="card-footer d-flex">
        <%= f.submit "Update Roles", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
