<div class="container home-sections mt-5 d-flex flex-row justify-content-center align-items-center">
  <div class="login-section pt-3">
    <div class="card text-center pt-5" style="width: 23rem;">
      <div class="navicon-container1">
        <h3 class="navicons"><i class="fas fa-utensils icon-spoon"></i>Recipe Harmony</h3>
      </div>
      <%= render "layouts/flash_messages" %>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3 mt-4">
            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="mb-3">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <%= f.submit "Log In", class:  "btn btn-orange w-100" %>
        <% end %>
        <div class="d-flex align-items-center mt-4">
          <div class="line"></div>
          <h2 class="line-text">OR</h2>
          <div class="line"></div>
        </div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), style: "text-decoration: none;", class: "fs-6 d-block mt-3" %><br />
        <% end %>
      </div>
    </div>
    <div class="card text-center py-2 mt-3" style="width: 23rem;">
      <div class="card-text">
        Don't have an account? 
        <%= link_to  "Sign up", new_user_registration_path, class: "fs-6  my-4 text-decoration-none" %>
      </div>
    </div>
  </div>
</div>
