<div class="container">
  <h1 class=" text-center mt-3 mb-4">Edit Role</h1>
  <div class="card">
    <div class="card-header">
      <h2><%= @role.name %></h2>
    </div>
    <div class="card-body">
      <%= form_with(model: @role, url: role_path(@role), method: :patch) do |form| %>
        <%# <div class="my-3"> %>
        <%# form.text_field :name, placeholder: "Role name...", class: "form-control" %>
        <%# </div> %>
        <div class="accordion">
          <% grouped_permissions = Permission.all.group_by(&:subject_class) %>
          <% grouped_permissions.each do |subject_class, permissions| %>
            <div class="accordion-item">
              <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= subject_class %>">
                <%= subject_class.titleize %>
              </div>
              <div id="collapse<%= subject_class %>" class="accordion-body collapse">
                <% permissions.each do |permission| %>
                  <%= check_box_tag 'permissions[]', permission.id, @role_permissions.include?(permission.id) %>
                  <%= form.label "permission_ids_#{permission.id}", permission.action.capitalize %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <%= form.submit "Update Role", class: "btn btn-orange" %>
          <div class="modal-footer">
            <%= link_to roles_path, class: "btn btn-primary" do %>
              <i class="fa fa-arrow-left me-2"></i> Back to roles
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
