<%# turbo_frame_tag "categories" do %>
  <% @categories.each do |category| %>
    <tr>
      <th>
        <%= link_to category do %>
          <%= link_to category.name, category_path(category), class: "badge rounded-pill text-bg-warning", style: "text-decoration: none;" %>
        <% end %>
      </th>
      <td><%= pluralize(category.recipes.count, "recipes")  %></td>
      <% if can? :manage, Category %>
        <td>
          <div class="d-flex">
            <%= link_to '#', class: 'me-2',  data: { bs_toggle: 'modal', bs_target: "#staticBackdropEdit" } do %>
              <i class="fas fa-edit text-primary"></i>
            <% end %>
            <%= link_to category_path(category), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to delete this category?" } do %>
              <i class="fas fa-trash text-danger"></i>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
  <%# end %>
  <%= render partial: 'categories/edit_form', locals: { category: @category } %>
