<div class="modal fade modal-lg" id="staticBackdropEdit<%= category.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <%= form_with(model: category, local: true) do |form| %>
      <div class="modal-content" style="width: 70%; margin-left: 20%;">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <% if @category.errors.any? %>
              <div style="color: red;">
                <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
                <ul>
                  <% @category.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="my-2">
              <% if current_user.profile_pic.attached? %>
                <%= image_tag current_user.profile_pic, class: "img-thumbnail rounded-circle", style: "width: 8%" %>
              <% else %>
                <%= image_tag 'user-pp.png', class: "img-thumbnail rounded-circle", style: "width: 8%" %>
              <% end %>
              <span class="fw-bold mx-2"><%= (current_user.username).capitalize %></span>
            </div>
            <div class="my-2">
              <%= form.text_field :name, placeholder: "Write a category name...", class: "form-control" %>
            </div>
            <div class="my-2">
              <%= form.text_area :description, placeholder: "Add description", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit "Update category", class: "btn btn-orange" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
